@media only screen and (min-width: 45rem) {
    nav button {
        display: none;
    }
    nav ul.hide {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    nav ul li {
        display: block;
        flex: 1 1 auto;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: .9rem;
        font-family: 'Roboto', sans-serif;
        border: none;
    }
    main {
        margin-left: 0%;
        margin-right: 2rem;
    }
    .main-title {
        font-size: 3rem;
    }
    .headings h1 {
        font-size: 4rem;
    }
    .m {
        font-size: 2rem;
    }
    body .p {
        font-size: 1.2rem;
    }
    header img {
        display: flex;
        width: 185px;
    }
    .gallery-images {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 3rem;
    }
    .one {
        grid-column: 1;
    }
    .two {
        grid-column: 2;
    }
    .info p {
        font-size: 1.4rem;
    }
    .media {
        padding-left: 20%;
    }
    .info-img {
        margin-left: 30%;
    }
    .info-img img {
        padding: 1rem;
    }
    footer p {
        font-size: 1.2rem;
    }
    .text p {
        font-size: 1.2rem;
    }
    #map-small,
    #map-large {
        display: none;
    }
    #map-medium {
        display: flex;
    }
}